
body, ul {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Collors */

.main-color {
    color: #030303;
}

.gray-color {
    color: #d9d9d9;
}

.dark-gray-color {
    color: #737373;
}

.pink-color {
    color: #eabedb;
}

/* BG */

.main-color-bg {
    background-color: #030303;
}

.gray-color-bg {
    background-color: #d9d9d9;
}

.dark-gray-color-bg {
    background-color: #737373;
}

.pink-color-bg {
    background-color: #eabedb;
}

/* Buttons */

.custom-btn {
    background-color: #d9d9d9;
}

.custom-btn:hover {
    background-color: #737373;
}

/* Nav styling */

nav {
    position: absolute; /* position it on top of the content */
    width: 100%;        /* take full width */
    top: 0;             /* position it at the top */
    z-index: 1000;      /* make sure it's on top of everything else */
    transition: background-color 0.3s; /* smooth transition for background-color change */
    background-color: transparent; /* make initial background transparent */
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-around; /* Distributes space evenly among the links */
}

.nav-list li {
    float: left;
}

.nav-list li a {
    position: relative; /* Make sure pseudo-element is positioned relative to the link */
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 1.3s; /* Transition will now also affect the pseudo-element */
}

main {
    margin-top: calc(/* height of your navbar */ + /* any additional space you want */);
}

main {
    margin-top: 80px; /* Extra 10px for spacing */
}


nav.sticky {
    top: 0; /* You can adjust this value as needed */
    z-index: 1000; /* This ensures the nav is above other content */
}


/* Ensure the anchor tag is positioned relative to the pseudo-element */
.nav-list li a {
    position: relative;
}

/* Styling for the ::before pseudo-element */
.nav-list li a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0; /* Initially, the width is 0 */
    height: 2px; /* Height of the border */
    background-color: #eabedb; /* The color of the border */
    transition: all 1.3s; /* This ensures the animation effect */
}

/* Hover effect for the anchor links */
.nav-list li a:hover::before {
    width: 100%; /* On hover, the width expands to 100% */
}

/* Active state to indicate the current page */
.nav-list li a.active::before {
    width: 100% !important; 
}

/* Hamburger Button Styling */
#menuToggle {
    font-size: 1.5rem; /* Adjust as necessary */
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

/* Mobile Nav Styling */
@media screen and (max-width: 1024px) { /* or another breakpoint like 768px depending on when you want the menu to change */
    .nav-list {
        display: block; /* stack them vertically */
        transform: translateX(-100%); /* start off the screen */
        transition: transform 1s; /* animation duration */
        background-color: #030303;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-top: 50px; /* spacing at the top */
    }
    .nav-list.active {
        transform: translateX(0);
    }
    .nav-list li {
        float: none;
        text-align: center;
        margin: 10px 0;
    }

    #menuToggle {
        font-size: 1.5rem; 
        background: none;
        border: none;
        color: white; /* Setting color to white */
        cursor: pointer;
    }
    .bar {
        display: block;
        width: 25px; /* Adjust width and height according to your design */
        height: 3px;
        margin: 4px 0;
        background-color: white;
        transition: all 0.3s;
    }
    
    /* Styling for the hamburger when it's active (i.e., when the menu is opened) */
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
    }
    
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
    }
}

/* Carusel */
.carousel-inner {
    position: relative;
}

.carousel-inner .carousel-item {
    position: relative;
}

.carousel-inner img {
    position: absolute;
    top: 0;
    left: 0;
}

/* Swiper */

.swiper-pagination {
    position: relative;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0,0,0);
    z-index: 10;
}
.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000; /* or another color */
}

/* Biography */
.underline-pink {
    display: inline-block;
    position: relative;
}

.underline-pink:after {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background-color: #eabedb !important;
    margin-top: 4px;  /* Adjust as needed */
}

/* Tabs service page */

.tabs {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.tab {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #eabedb; /* pink-color-bg */
    transition: background-color 0.3s ease;
    margin-right: 5px;  /* Adjust this value as needed. */
}

.tab:last-child {
    margin-right: 0; /* This ensures that the last tab doesn't have a margin on its right */
}

.tab:hover {
    background-color: #d99ac5; /* darker shade for hover */
}

.tab-content {
    display: none;
    /* Other styling as required */
}

.tab-content.active {
    display: block;
    position: relative;
}

/* Contact */

#contactModal {
    opacity: 0; /* Initially hidden */
    transform: translateY(-100%);
    transition: opacity 0.7s, transform 0.7s ease-out; /* Added opacity transition */
    pointer-events: none; /* Ensures it's not clickable when invisible */
}

#contactModal.show {
    opacity: 1; /* Fully visible when .show class is added */
    transform: translateY(0);
    pointer-events: auto; /* Makes it clickable when visible */
}

#contactModal > div {
    max-width: 600px;
}


/* modal for the portfolio */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    transform: scale(0.7); /* Start the modal at 70% of its original size */
    opacity: 0;            /* Start the modal fully transparent */
    transition: transform 0.3s, opacity 0.3s; /* Add transition effect for transform and opacity */
}

/* Media query for devices with a max-width of 768px (generally targeting tablets and smaller devices) */
@media screen and (max-width: 768px) {
    .modal{
        padding-top: 50%;
    }
    
    .modal-content {
        width: 90%;       /* Use more width on smaller screens */
        margin: 10% auto; /* Reduce the vertical margin to center more on the screen */
        transform: scale(1); /* Set the modal to its original size for better readability on mobile devices */
    }
}


.modal.show .modal-content {
    transform: scale(1); /* When modal is shown, animate to 100% size */
    opacity: 1;         /* Make the modal fully opaque */
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-title {
    margin: 0;
    padding-bottom: 15px;
}


@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

.bounce {
    animation: bounce 1s ease infinite;
}

#msg {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}