<section class="carousel relative overflow-hidden h-screen w-full">
    <div class="carousel-inner absolute w-[300%] flex transition-all duration-1000">
        <div class="carousel-item w-full h-screen relative">
            <img src="https://images.rawpixel.com/image_1300/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdXB3azYxODUyMTM3LXdpa2ltZWRpYS1pbWFnZS1rb3dkZGM1ay1remVtaDd1eC5qcGc.jpg" alt="Image 1" class="absolute inset-0 w-full h-full object-cover">
        </div>
        <div class="carousel-item w-full h-screen relative">
            <img src="https://images.rawpixel.com/image_1300/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvZmw0MjEwMDgxODQxNS1pbWFnZS1rcHZ5enFzbi5qcGc.jpg" alt="Image 2" class="absolute inset-0 w-full h-full object-cover">
        </div>
        <div class="carousel-item w-full h-screen relative">
            <img src="https://images.rawpixel.com/image_1300/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L2EwMTYtamVyZW15Yi01MC5qcGc.jpg" alt="Image 3" class="absolute inset-0 w-full h-full object-cover">
        </div>
        <!-- ... other images ... -->
    </div>
</section>
