<section class="swiper-container-landing">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="https://images.rawpixel.com/image_1300/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdXB3azYxODUyMTM3LXdpa2ltZWRpYS1pbWFnZS1rb3dkZGM1ay1remVtaDd1eC5qcGc.jpg" alt="Image 1" class="w-full h-full object-cover">
        </div>
        <div class="swiper-slide">
            <img src="https://images.rawpixel.com/image_1300/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvZmw0MjEwMDgxODQxNS1pbWFnZS1rcHZ5enFzbi5qcGc.jpg" alt="Image 2" class="w-full h-full object-cover">
        </div>
        <div class="swiper-slide">
            <img src="https://images.rawpixel.com/image_1300/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L2EwMTYtamVyZW15Yi01MC5qcGc.jpg" alt="Image 3" class="w-full h-full object-cover">
        </div>
    </div>
</section>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const mySwiper = new Swiper('.swiper-container-landing', {
        loop: true,
        autoplay: {
            delay: 3000, // 3 seconds
        },
        speed: 1000, // Set transition speed to 1 second (1000 milliseconds)
    });
});


</script>