<section>
    <div class="dark-gray-color-bg p-6 pt-8">
        <ul class="list-none flex flex-wrap items-center flex space-x-10 justify-center">
            <li class="underline uppercase"><a href="">Service 1</a></li>
            <li class="">|</li>
            <li class="underline uppercase">Service 2</li>
            <li class="">|</li>
            <li class="underline uppercase"><a href="">Service 3</a></li>
            <li class="">|</li>
            <li class="underline uppercase"><a href="">Service 4</a></li>
        </ul>
    </div>
</section>

