<div id="testimonials-section" class="flex flex-col md:flex-row items-start relative pt-16">
    <!-- Headline Section -->
    <div class="w-full md:w-1/2 h-[20px] md:h-[350px] flex items-center justify-center px-4 md:px-10 py-10 md:py-0 mt-40">
        <h1 class="uppercase text-2xl text-center underline-pink">My Testimonials</h1>
    </div>

    <!-- Swiper Section -->
    <div class="w-full md:w-1/2 relative md:mt-40">
        <div class="swiper-container rounded-lg overflow-hidden">

            <!-- Slides -->
            <div class="swiper-wrapper">
                {% for testimonial in testimonials %}
                    <div class="swiper-slide flex flex-col justify-center items-center p-10 h-[350px]">
                        <p class="text-xl font-semibold mb-3">{{ testimonial.description|safe }}</p>
                        <span class="main-color">- {{ testimonial.client_name }}</span>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>
