{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <title>{% block title %}{% endblock %} | Diana</title>
	</head>

    <body class="flex flex-col min-h-screen leading-normal tracking-normal">
    <nav class="main-color-bg p-6">
        <div class="max-w-6xl mx-auto py-2 px-6 xl:px-0 items-center flex justify-between">
            <div class="flex-grow"></div> <!-- This empty div will push the menu to the far right -->
            <button id="menuToggle" class="hamburger lg:hidden px-2 py-1 z-50">

                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
            
        </div>
        <!-- Navigation Menu -->
        <ul id="menu" class="nav-list top-0 left-0 h-full w-full main-color-bg0 text-white transform -translate-x-full invisible overflow-y-auto transition-transform duration-500 lg:static lg:w-auto lg:transform-none lg:bg-transparent lg:flex lg:flex-row z-40 lg:visible">
            <li class="py-2 text-center lg:py-0"><a href="#">HOME</a></li>
            <li class="py-2 text-center lg:py-0"><a href="#">BIOGRAPHY</a></li>
            <li class="py-2 text-center lg:py-0"><a href="#">SERVICES</a></li>
            <li class="py-2 text-center lg:py-0"><a href="{% url 'portfolio' %}">PORTFOLIO</a></li>
            <li class="py-2 text-center lg:py-0"><a href="#">TESTIMONIALS</a></li>
            <li class="py-2 text-center lg:py-0"><a href="#">CLIENTS/PARTNERS</a></li>
            <li class="py-2 text-center lg:py-0"><a href="#">CONTACT</a></li>
        </ul>
    </nav>

        <main class="flex-grow mt-[95px]">
            {% block content %}
            {% endblock %}
        </main>

        <footer class="main-color-bg">
            <div class="lg:flex p-6 justify-around">
                <div class="lg:w-1/4 gray-color">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur odit quaerat explicabo tempore quas placeat harum! Repudiandae unde numquam sapiente atque perspiciatis deserunt natus non, est esse maxime mollitia tempore.</div>
                <div class="lg:w-1/4 gray-color uppercase">Follow
                    <div class="p-6 space-y-6 mt-6">
                        <div class="gray-color underline underline-offset-8">
                            <a href="#" class="transition-all duration-500 hover:text-pink-200">
                                Facebook
                            </a>
                        </div>
                        <div class="gray-color underline underline-offset-8">
                            <a href="#" class="transition-all duration-500 hover:text-pink-200">
                                Instagram
                            </a>
                        </div>
                        <div class="gray-color underline underline-offset-8">
                            <a href="#" class="transition-all duration-500 hover:text-pink-200">
                                Linkedin
                            </a>
                        </div>
                    </div>
                </div>
                <div class="lg:w-2/4 gray-color pl-6">Where can you find me?
                    <div class="p-4">
                        <div class="gray-color">Address:</div>
                        <div class="gray-color">Address:</div>
                        <div class="gray-color underline uppercase pt-10 ml-4">email@mail.com</div>
                    </div>
                </div>
            </div>
            <div class="gray-color border-t m-6 p-4">Copywrite</div>
        </footer>

        <script src="{% static 'js/carousel_script.js' %}"></script>
        <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>

        <!-- Your custom JavaScript -->
        <script>
            function toggleMenu() {
                var menu = document.getElementById('menu');
                var hamburger = document.getElementById('menuToggle');
                
                if (menu.classList.contains('invisible')) {
                    menu.classList.remove('invisible');
                    hamburger.classList.add('active'); // Add the active class to the hamburger
                    setTimeout(function() {
                        menu.classList.add('translate-x-0');
                    }, 50);
                } else {
                    menu.classList.remove('translate-x-0');
                    hamburger.classList.remove('active'); // Remove the active class from the hamburger
                    setTimeout(function() {
                        menu.classList.add('invisible');
                    }, 500);
                }
            }


            document.getElementById('menuToggle').addEventListener('click', toggleMenu);
            document.getElementById('menuClose').addEventListener('click', toggleMenu);
        </script>
        
</body>
</html>