{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
        <!-- Googlefonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,400&display=swap" rel="stylesheet">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- Swiper -->
        <!-- Swiper CSS -->
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

        <!-- Swiper JS -->
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        <!-- tailwind ccs -->
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <title>{% block title %}{% endblock %} | Diana</title>
	</head>

    <body class="flex flex-col min-h-screen leading-normal tracking-normal">
    <nav class="main-color-bg p-6 sticky -mb-20">
        <div class="max-w-6xl mx-auto py-2 px-6 xl:px-0 items-center flex justify-between">
            <div class="flex-grow"></div> <!-- This empty div will push the menu to the far right -->
            <button id="menuToggle" class="hamburger lg:hidden px-2 py-1 z-50">

                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
            
        </div>
        <!-- Navigation Menu -->
        <ul id="menu" class="nav-list top-0 left-0 h-full w-full main-color-bg0 text-white transform -translate-x-full invisible overflow-y-auto transition-transform duration-500 lg:static lg:w-auto lg:transform-none lg:bg-transparent lg:flex lg:flex-row z-40 lg:visible">
            <li class="py-2 text-center lg:py-0"><a href="{% url 'index' %}">HOME</a></li>
            <li class="py-2 text-center lg:py-0"><a href="{% url 'biography' %}">BIOGRAPHY</a></li>
            <li class="py-2 text-center lg:py-0"><a href="{% url 'services' %}">SERVICES</a></li>
            <li class="py-2 text-center lg:py-0"><a href="{% url 'portfolio' %}">PORTFOLIO</a></li>
            <li class="py-2 text-center lg:py-0"><a href="{% url 'index' %}#testimonials-section">TESTIMONIALS</a></li>
            <li class="py-2 text-center lg:py-0"><a href="{% url 'clients' %}">CLIENTS/PARTNERS</a></li>
            <li class="py-2 text-center lg:py-0"><a href="#" id="contactLink">Contact</a>
            </li>
        </ul>
    </nav>

        <main class="flex-grow lg:mt-[75px]">
            {% block content %}

            {% endblock %}
        </main>

    <footer class="main-color-bg">
        <div class="lg:flex p-6 justify-around">
            <div class="lg:w-1/4 gray-color">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur odit quaerat explicabo tempore quas placeat harum! Repudiandae unde numquam sapiente atque perspiciatis deserunt natus non, est esse maxime mollitia tempore.</div>
            <div class="lg:w-1/4 gray-color uppercase">Follow
                <div class="p-6 space-y-6 mt-6">
                    <div class="gray-color underline underline-offset-8">
                        <a href="#" class="transition-all duration-500 hover:text-pink-200">
                            Facebook
                        </a>
                    </div>
                    <div class="gray-color underline underline-offset-8">
                        <a href="#" class="transition-all duration-500 hover:text-pink-200">
                            Instagram
                        </a>
                    </div>
                    <div class="gray-color underline underline-offset-8">
                        <a href="#" class="transition-all duration-500 hover:text-pink-200">
                            Linkedin
                        </a>
                    </div>
                </div>
            </div>
            <div class="lg:w-2/4 gray-color pl-6">Where can you find me?
                <div class="p-4">
                    <div class="gray-color">Address:</div>
                    <div class="gray-color">Address:</div>
                    <div class="gray-color underline uppercase pt-10 ml-4">email@mail.com</div>
                </div>
            </div>
        </div>
        <div class="gray-color border-t m-6 p-4">Copywrite</div>
    </footer>

    <!-- Modal -->
        <div id="contactModal" class="fixed top-0 left-0 w-full h-full flex items-center justify-center opacity-0 transform -translate-y-full pointer-events-none transition-transform transition-opacity duration-700 ease-out z-50">
            <div class="pink-color-bg mt-20 p-4 md:p-6 rounded-lg w-full md:w-1/2 max-h-[90vh] overflow-auto">
                <h2 class="text-2xl uppercase md:text-xl mb-4">Contact Me</h2>
                <form id="contactForm">
                    <div class="mb-4">
                        <label class="block text-gray-700 text-base md:text-sm font-bold mb-2" for="name">Name</label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight" id="name" type="text" placeholder="John Doe">
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-base md:text-sm font-bold mb-2" for="companyName">Company Name</label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight" id="companyName" type="text" placeholder="XYZ Corp.">
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-base md:text-sm font-bold mb-2" for="email">Email</label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight" id="email" type="email" placeholder="john@example.com">
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-base md:text-sm font-bold mb-2" for="phoneNumber">Phone Number</label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight" id="phoneNumber" type="tel" placeholder="+1 123 456 7890">
                    </div>
                    <div class="mb-6">
                        <label class="block text-gray-700 text-base md:text-sm font-bold mb-2" for="message">Message</label>
                        <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight" id="message" placeholder="Your message..."></textarea>
                    </div>
                    <div class="flex items-center justify-between">
                        <button class="dark-gray-color py-3 px-4 border rounded text-base" type="submit">Send Message</button>
                        <button class="text-gray-700 hover:text-gray-900 py-3 px-4" type="button" id="closeModal">Close</button>
                    </div>
                </form>
            </div>
        </div>

    

        <script src="{% static 'js/carousel_script.js' %}"></script>
        <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>

        <!-- My custom JavaScript -->
        <script>
            function toggleMenu() {
                var menu = document.getElementById('menu');
                var hamburger = document.getElementById('menuToggle');
                
                if (menu.classList.contains('invisible')) {
                    menu.classList.remove('invisible');
                    hamburger.classList.add('active'); // Add the active class to the hamburger
                    setTimeout(function() {
                        menu.classList.add('translate-x-0');
                    }, 50);
                } else {
                    menu.classList.remove('translate-x-0');
                    hamburger.classList.remove('active'); // Remove the active class from the hamburger
                    setTimeout(function() {
                        menu.classList.add('invisible');
                    }, 500);
                }
            }

            document.getElementById('menuToggle').addEventListener('click', toggleMenu);
            document.getElementById('menuClose').addEventListener('click', toggleMenu);
        </script>
        <script>
            

        </script>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                // Initialize AOS
                AOS.init({
                    once: false,
                });
        
                // Initialize Swiper
                const swiper = new Swiper('.swiper-container', {
                    // Optional parameters
                    direction: 'horizontal',
                    loop: true,
                    autoplay: {
                        delay: 5000, //5 seconds
                    },
        
                    // If you need pagination
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true,
                    },
        
                    // Navigation arrows
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev',
                    },
                });
            });
        </script>
        <script>
            const contactLink = document.getElementById('contactLink');
            const contactModal = document.getElementById('contactModal');
            const closeModal = document.getElementById('closeModal');

            contactLink.addEventListener('click', function(event) {
                event.preventDefault();

                // Check if menu is visible and if yes, then toggle it off.
                var menu = document.getElementById('menu');
                if (!menu.classList.contains('invisible')) {
                    toggleMenu();
                }

                contactModal.style.opacity = "1";
                contactModal.style.transform = "translateY(0)";
                contactModal.style.pointerEvents = "auto";
            });

            closeModal.addEventListener('click', function() {
                contactModal.style.opacity = "0";
                contactModal.style.transform = "translateY(-100%)";
                // Set pointer events to none after the transition completes
                setTimeout(() => {
                    contactModal.style.pointerEvents = "none";
                }, 700);
            });


        </script>
        <script>
            contactForm.addEventListener('submit', function(event) {
                event.preventDefault();
                
                const formData = {
                    name: document.getElementById('name').value,
                    companyName: document.getElementById('companyName').value,
                    email: document.getElementById('email').value,
                    phoneNumber: document.getElementById('phoneNumber').value,
                    message: document.getElementById('message').value,
                };

                fetch("{% url 'send_contact_email' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: new URLSearchParams(formData)
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status === "success") {
                        // You can show a success message or do something else
                        console.log("Email sent successfully!");
                    } else {
                        console.error("Error sending email:", data.error);
                    }
                });
            });


        </script>
        
</body>
</html>