{% extends 'core/base.html' %}
{% load static %}

{% block title %}Clients/Partners{% endblock %}
{% block content%}

<section class="clients-partners min-h-screen py-8">
    <div class="container mx-auto px-4">
        <h2 class="text-2xl mb-8 text-center">Our Clients and Partners</h2>
        
        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
            {% for client in clients %}
            <div class="client-item text-center">
                <div class="client-image">
                    <!-- Display the client's logo -->
                    <img src="{{ client.image.url }}" alt="{{ client.name }}" class="mx-auto mb-4 max-h-24 w-auto">
                </div>
                <div class="client-name">
                    <!-- Display the client's name -->
                    <p>{{ client.name }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}
