{% extends 'core/base.html' %}
{% load static %}

{% block title %}Portfolio{% endblock %}
{% block content%}

<section class="gray-color-bg">
    <div class="text-center pt-8">
        <h1 class="text-3xl uppercase underline-pink dark-gray-color">My Portfolio</h1>
        <div class="lg:p-[150px] pt-[150px]">
            <div class="grid lg:grid-cols-5 grid-cols-2 gap-[60px] lg:gap-y-[250px] lg:gap-x-11 mt-8">
                {% for portfolio_entry in portfolios %}
                <div class="card transform transition-transform duration-500 overflow-hidden gray-color-bg group px-4 cursor-pointer" data-aos="zoom-in-down" data-aos-duration="1000">
                    <div class="relative overflow-hidden">
                        <div class="hover:scale-110 transform transition-transform duration-500 overflow-hidden">
                            <img class="w-full h-60 object-fill" src="{{ portfolio_entry.image.url }}" alt="{{ portfolio_entry.title }}">
                            <div class="absolute top-0 left-0 w-full h-60 bg-gradient-to-b from-black via-transparent to-black opacity-0 group-hover:opacity-70 transition-opacity duration-300"></div>
                            <div class="absolute top-0 left-0 w-full h-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                                <span class="gray-color">{{ portfolio_entry.description|safe }}</span>
                            </div>
                        </div>
                    </div>
                    <p class="text-center pt-10 uppercase title-class">
                        {{ portfolio_entry.title }}
                    </p>                    
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<!-- Modal Structure -->
<div id="projectModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2 class="modal-title"></h2>
        <p class="modal-description"></p>
    </div>
</div>

<script>
    const modal = document.getElementById("projectModal");
    const cards = document.querySelectorAll('.card');
    const closeBtn = document.querySelector('.close');

    // When the user clicks on the card, open the modal 
    cards.forEach(card => {
        card.addEventListener('click', function() {
            const title = this.querySelector('.title-class').textContent; // Getting the title from card's p tag
            const description = this.querySelector('.gray-color').innerHTML; // Getting the description from card's span tag with |safe

            document.querySelector('.modal-title').textContent = title;
            document.querySelector('.modal-description').innerHTML = description; // Using innerHTML to render HTML content

            modal.style.display = "block";
            setTimeout(() => {
                modal.classList.add('show'); // Add the "show" class to the modal
            }, 10); // Slight delay to ensure modal is rendered before class is added
        });
    });

    // When the user clicks on the close button, close the modal
    closeBtn.addEventListener('click', () => {
        modal.classList.remove('show'); // Remove the "show" class from the modal
        // After the transition completes, set the modal display to none
        setTimeout(() => {
            modal.style.display = "none";
        }, 300); // This delay should match the duration of your CSS transition
    });

    // When the user clicks anywhere outside of the modal, close it
    window.addEventListener('click', (event) => {
        if (event.target == modal) {
            modal.classList.remove('show'); // Remove the "show" class from the modal
            setTimeout(() => {
                modal.style.display = "none";
            }, 300); // This delay should match the duration of your CSS transition
        }
    });

</script>


<script>
    document.querySelectorAll('.card').forEach(card => {
        card.addEventListener('mouseover', function() {
            this.setAttribute('data-aos', 'none');
        });
    });

</script>

<script>
    AOS.init({
        duration: 1000
    });
</script>

{% endblock %}
