{% extends 'core/base.html' %}
{% load static %}

{% block title %}Portfolio{% endblock %}
{% block content%}

<section class="gray-color-bg">
    <div class="pt-16 text-center">
        <h1 class="text-3xl uppercase underline-pink dark-gray-color">My Portfolio</h1>
        <div class="lg:p-[150px] pt-[150px]">
            <div class="grid lg:grid-cols-3 grid-cols-1 gap-[60px] lg:gap-y-[250px] lg:gap-x-11 my-8">

                <div class="card transform transition-transform duration-500 overflow-hidden gray-color-bg group" data-aos="fade-right" data-aos-duration="1000">
                    <div class="relative hover:scale-110 transition duration-500">
                        <img class="w-full h-60 object-center" src="{% static 'images/1.jpg' %}" alt="Description">
                        <!-- Adding a linear gradient background on hover -->
                        <div class="absolute top-0 left-0 w-full h-60 bg-gradient-to-b from-black via-transparent to-black opacity-0 group-hover:opacity-70 transition-opacity duration-300"></div>
                        <div class="absolute top-0 left-0 w-full h-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                            <span class="gray-color">Short explanation of the image</span>
                        </div>
                    </div>
                    <p class="text-center pt-10 uppercase">
                        Caption to image
                    </p>
                </div>
                <div class="card transform transition-transform duration-500 overflow-hidden gray-color-bg group" data-aos="fade-down" data-aos-duration="1000">
                    <div class="relative hover:scale-110 transition duration-500">
                        <img class="w-full h-60 object-center" src="{% static 'images/2.jpg' %}" alt="Description">
                        <div class="absolute top-0 left-0 w-full h-60 bg-gradient-to-b from-black via-transparent to-black opacity-0 group-hover:opacity-70 transition-opacity duration-300"></div>
                        <div class="absolute top-0 left-0 w-full h-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                            <span class="gray-color">Short explanation of the image</span>
                        </div>
                    </div>
                    <p class="text-center pt-10 uppercase">
                        Caption to image
                    </p>
                </div>
                <div class="card transform transition-transform duration-500 overflow-hidden gray-color-bg group" data-aos="fade-left" data-aos-duration="1000">
                    <div class="relative hover:scale-110 transition duration-500">
                        <img class="w-full h-60 object-center" src="{% static 'images/3.jpg' %}" alt="Description">
                        <div class="absolute top-0 left-0 w-full h-60 bg-gradient-to-b from-black via-transparent to-black opacity-0 group-hover:opacity-70 transition-opacity duration-300"></div>
                        <div class="absolute top-0 left-0 w-full h-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                            <span class="gray-color">Short explanation of the image</span>
                        </div>
                    </div>
                    <p class="text-center pt-10 uppercase">
                        Caption to image
                    </p>
                </div>
                <div class="card transform transition-transform duration-500 overflow-hidden gray-color-bg group" data-aos="fade-right" data-aos-duration="1000">
                    <div class="relative hover:scale-110 transition duration-500">
                        <img class="w-full h-60 object-center" src="{% static 'images/1.jpg' %}" alt="Description">
                        <!-- Adding a linear gradient background on hover -->
                        <div class="absolute top-0 left-0 w-full h-60 bg-gradient-to-b from-black via-transparent to-black opacity-0 group-hover:opacity-70 transition-opacity duration-300"></div>
                        <div class="absolute top-0 left-0 w-full h-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                            <span class="gray-color">Short explanation of the image</span>
                        </div>
                    </div>
                    <p class="text-center pt-10 uppercase">
                        Caption to image
                    </p>
                </div>
                <div class="card transform transition-transform duration-500 overflow-hidden gray-color-bg group" data-aos="fade-down" data-aos-duration="1000">
                    <div class="relative hover:scale-110 transition duration-500">
                        <img class="w-full h-60 object-center" src="{% static 'images/2.jpg' %}" alt="Description">
                        <div class="absolute top-0 left-0 w-full h-60 bg-gradient-to-b from-black via-transparent to-black opacity-0 group-hover:opacity-70 transition-opacity duration-300"></div>
                        <div class="absolute top-0 left-0 w-full h-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                            <span class="gray-color">Short explanation of the image</span>
                        </div>
                    </div>
                    <p class="text-center pt-10 uppercase">
                        Caption to image
                    </p>
                </div>
                <div class="card transform transition-transform duration-500 overflow-hidden gray-color-bg group" data-aos="fade-left" data-aos-duration="1000">
                    <div class="relative hover:scale-110 transition duration-500">
                        <img class="w-full h-60 object-center" src="{% static 'images/3.jpg' %}" alt="Description">
                        <div class="absolute top-0 left-0 w-full h-60 bg-gradient-to-b from-black via-transparent to-black opacity-0 group-hover:opacity-70 transition-opacity duration-300"></div>
                        <div class="absolute top-0 left-0 w-full h-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                            <span class="gray-color">Short explanation of the image</span>
                        </div>
                    </div>
                    <p class="text-center pt-10 uppercase">
                        Caption to image
                    </p>
                </div>
                <div class="card transform transition-transform duration-500 overflow-hidden gray-color-bg group" data-aos="fade-right" data-aos-duration="1000">
                    <div class="relative hover:scale-110 transition duration-500">
                        <img class="w-full h-60 object-center" src="{% static 'images/1.jpg' %}" alt="Description">
                        <!-- Adding a linear gradient background on hover -->
                        <div class="absolute top-0 left-0 w-full h-60 bg-gradient-to-b from-black via-transparent to-black opacity-0 group-hover:opacity-70 transition-opacity duration-300"></div>
                        <div class="absolute top-0 left-0 w-full h-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                            <span class="gray-color">Short explanation of the image</span>
                        </div>
                    </div>
                    <p class="text-center pt-10 uppercase">
                        Caption to image
                    </p>
                </div>
                <div class="card transform transition-transform duration-500 overflow-hidden gray-color-bg group" data-aos="fade-down" data-aos-duration="1000">
                    <div class="relative hover:scale-110 transition duration-500">
                        <img class="w-full h-60 object-center" src="{% static 'images/2.jpg' %}" alt="Description">
                        <div class="absolute top-0 left-0 w-full h-60 bg-gradient-to-b from-black via-transparent to-black opacity-0 group-hover:opacity-70 transition-opacity duration-300"></div>
                        <div class="absolute top-0 left-0 w-full h-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                            <span class="gray-color">Short explanation of the image</span>
                        </div>
                    </div>
                    <p class="text-center pt-10 uppercase">
                        Caption to image
                    </p>
                </div>
                <div class="card transform transition-transform duration-500 overflow-hidden gray-color-bg group" data-aos="fade-left" data-aos-duration="1000">
                    <div class="relative hover:scale-110 transition duration-500">
                        <img class="w-full h-60 object-center" src="{% static 'images/3.jpg' %}" alt="Description">
                        <div class="absolute top-0 left-0 w-full h-60 bg-gradient-to-b from-black via-transparent to-black opacity-0 group-hover:opacity-70 transition-opacity duration-300"></div>
                        <div class="absolute top-0 left-0 w-full h-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                            <span class="gray-color">Short explanation of the image</span>
                        </div>
                    </div>
                    <p class="text-center pt-10 uppercase">
                        Caption to image
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    document.querySelectorAll('.card').forEach(card => {
        card.addEventListener('mouseover', function() {
            this.setAttribute('data-aos', 'none');
        });
    });

</script>




{% endblock %}