/* Collors */

.main-color {
    color: #030303;
}

.gray-color {
    color: #d9d9d9;
}

.dark-gray-color {
    color: #737373;
}

.pink-color {
    color: #eabedb;
}
/* BG */

.main-color-bg {
    background-color: #030303;
}

.gray-color-bg {
    background-color: #d9d9d9;
}

.dark-gray-color-bg {
    background-color: #737373;
}

.pink-color-bg {
    background-color: #eabedb;
}

/* Buttons */

.custom-btn {
    background-color: #d9d9d9;
}

.custom-btn:hover {
    background-color: #737373;
}

/* Nav styling */


.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-around; /* Distributes space evenly among the links */
}

.nav-list li {
    float: left;
}

.nav-list li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: 2px solid transparent; /* Invisible border to ensure hover doesn't shift elements */
    transition: border-color 0.3s; /* Smooth transition for the hover effect */
}

.nav-list li a:hover {
    border-bottom-color: #eabedb;
}